@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-weight: 800;
  font-size: 17px;
  margin: 0;
  padding: 0;
  font-family: Sans-Serif, serif;
}

.wrap {
  width: 10cm;
  height: 2.8cm;
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  background-color: white;
  position: relative;
  margin-top: 2px;
  page-break-after: always;
}

.wrap::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  border-left: 1px dotted black;
}

.qrCode {
  position: absolute;
  display: flex;
  top: 55%;
  left: 5%;
  height: 40%;
}

@media print {
  /* 헤더와 푸터를 제거하는 스타일 */
  @page {
    margin: 0;
  }
}
